@font-face {
    font-family:babysparkle ;
    src: url(../fontcontact/babysparkle.otf); 
} 
    
@font-face {
 font-family:blackjack ;
 src: url(../fontcontact/blackjack.otf); 
} 

header{
    background-color:rgb(150, 213, 23);
}
footer{
    background-color:brown;
    text-align:center ;
}

html {
    font-size: 62.5%;
}

body {
    background-color:whitesmoke;
   
    font-size: 1.6rem;
}

img {

    max-width: 100%;
    
    
}

h1 {

    background-color: rgb(201, 239, 145);
    font-size: 2rem;
}
h2{
    background-color: rgb(113, 194, 163);
    background-position-y: center;
    font-size: 3rem;
}


.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #c5db1f;
    color: rgb(188, 213, 58);
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.entrada-blog a:hover {
    background-color: rgb(186, 210, 47);
    transition: 0.3s;
}

@media (min-width: 480px) {
    .dos-columnas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}