

@font-face {
    font-family:babysparkle ;
    src: url(../fontcontact/babysparkle.otf); 
} 
    
@font-face {
 font-family:blackjack ;
 src: url(../fontcontact/blackjack.otf); 
} 

header{
    background-color: rgb(0, 255, 94) ;
}
        
footer{
    background-color:brown;
    text-align:center ;
}

.h1header {
    font-size: 4rem;
    font-family: "babysparkle", sans-serif;
    text-align: center;
}


        

html {
    background-color: #f5f5f5;
    font-size: 62.5%;
}

* { 
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif; 
    font-size: 1.6rem;
}

img {  
    max-width: 100%;
}

iframe { 
    max-width: 100%;
    border: 1px solid green;
}





h1 {
    font-family:"babysparkle", sans-serif;
    text-align: center;
    font-size: 4rem;
    padding: 10px 20px;}

h2 {
    font-family:"blackjack", sans-serif; 
    font-size: 3rem;
}

p span {
        font-weight:bold ;
}
 

 
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color:rgb(18, 149, 27);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

a:hover{
    color:black;
}

@media (min-width:480px) {
    .tres-columnas {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .entrada-blog {
        flex-basis: calc(33.3% - 1rem);
        /*calc() hace un cálculo matemático*/
        /*Ocupa el 33% del contenedor - 1 rem para dar espacio entre columnas*/
    }
}